/* ======================================================= */
/* Additional Styles */
/* Blue: #2980b9 */
/* Red: #d63031 */
/* Yellow: #fdcb6e */
/* ======================================================= */
body{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.hidden {display:none;}

.navbar{
  padding: 0;
}

.navbar-light .navbar-nav .nav-link{
  font-size: 1.5rem;
  color: #fff;

  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: 0% 3px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover{
  /* text-decoration: underline; */
  color: #fff;

  text-decoration: none;
  background-size: 100% 3px;
}

section{
  color: #000;
}

ul{
  list-style: none;
}

li{
  margin:20px;
}

.bg-red{
  background-color:#d63031;
}

.bg-black{
  background-color: black;
}

.mission-statement{
  font-size:1.5rem;
}

.pre-footer{
  height: 20vh;
}

footer{
  color: white;
}

.footer-logo{
  min-width: 150px;
  width: 40%;
}

.header-shadow{
  text-shadow: 4px 4px 1px black;
  color: #eeeded;
}

.blank-content{
  height: 50px;
}

.invisible{
  color: rgba(0,0,0,0);
  text-shadow:none;
}

.move-top{
  position: absolute;
  margin-top: -8%;
  z-index: 100;
}

.my-container-fluid{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.rotate-left{
  transform: rotate(-5deg);
}

.rotate-right{
  transform: rotate(5deg);
}

.text-gray{
  color: slategray;
}

.display-contact{
  font-size: 7rem;
}

.contact-link{
  font-size: 2rem;
}

.contact-links a{
  color: black;
}

.contact-links a:hover{
  color: #343a40;
}

.btn-light, .btn-light:hover{
  border: 2px solid #343a40;
  font-size: 1.5rem;
  border-radius: 10px;
  z-index: 100;
}

.btn-danger{
  background-color: #d63031;
}

.modal-dialog{
  max-width: 600px;
}

.form-control:focus {
  border-color: #d63031 !important;
  box-shadow: 0 0 5px rgb(250, 102, 102) !important;
}

.display-modified{
  line-height: 1;
  margin: 0;
}

/* ======================================================= */
/* Video Header Style */
/* ======================================================= */

.video{
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

/* Tablets (portrait) */
@media only screen and (max-device-width : 1024px) {
  .video{
    height: auto;
  }

  .move-top{
    margin-top: -10%;
  }

  .display-1{
    font-size: 3rem;
  }

  .display-contact{
    font-size: 3rem;
  }

  .fa-2x{
    font-size: 1rem !important;
  }
  
  .contact-link{
    font-size: 1rem;
  }
}

.video-logo{
  min-width: 300px;
  width: 40%;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* ======================================================= */
/* Strikethrough / Underline Style */
/* ======================================================= */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  padding-bottom: 10px;
}

.strike > span {
  position: relative;
  display: inline-block;
  font-size:1.5rem;
}
	
.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  /* margin-right: 15px; */
}

.strike > span:after {
  left: 100%;
  /* margin-left: 15px; */
}

/* ======================================================= */
/* Parallax Style */
/* ======================================================= */

.parallax { 
  /* Set a specific height */
  height: 75vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================================================= */
/* SVG Style */
/* ======================================================= */

svg {
  width: 100%;
  height: 10vw;
  position: absolute;
  z-index: 99;
  /* set height to pixels if you want angle to change with screen width */
}

.svg-top{
  margin-top: -10.05%;
}

/* ======================================================= */
/* Map Style */
/* ======================================================= */
#map{
  width: 100%;
  height: 50vh;
}

.map-frame{
  border: 4px solid #343a40;
  box-shadow: 2px 2px 6px slategray;
}

/* ======================================================= */
/* Executive Board Page Style */
/* ======================================================= */
.executive-board{
  color: black;
  height: auto;
  background-color: #ff2a2a;
  background-image: linear-gradient(0deg, #ff2a2a 0%, #2c8ee6 100%);
  /* background-image: url('../img/stonybrook.jpg'); */
}

/* ======================================================= */
/* Network Style */
/* ======================================================= */
#mynetwork {
  width: 100%;
  height: 75vh;
  border: 1px solid lightgray;
}

/* ======================================================= */
/* Eboard Cards */
/* ======================================================= */

.card{
  box-shadow: black 0rem 0.75rem 1rem;
}

.card .rotation-1,
.card .rotation-2 {
  position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: inherit;								
	z-index:-1;						
	overflow:hidden;		
	backface-visibility: hidden;			
}
  
.card .rotation-1 {
	z-index:-1;
	transform: rotate(-14deg);
}
	
.card .rotation-2 {
  transform: rotate(14deg);
}
	
.card .rotation-1:before,
.card .rotation-2:before {
	content: '';
	position: absolute;
	background: inherit;
  top:0;
  left: 0;
  z-index: 1;
  background: inherit;
  background-repeat:no-repeat;
	backface-visibility: hidden;				  
}			

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin {100% {
  -webkit-transform: rotate(360deg);
  transform:rotate(360deg);
}}

.white-card{
  background-color: white !important;
  border: 6px solid black !important;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.black-card{
  background-color: black !important;
  border: 6px solid white !important;
  -webkit-animation: spin 7s linear infinite;
  -moz-animation: spin 7s linear infinite;
  animation: spin 7s linear infinite;
}

.card-black-border{
  border: 4px solid black;
}