/* ======================================================= */
/* Additional Styles */
/* ======================================================= */

.hidden {display:none;}

.nav-item{
    font-size: 1.5rem;
    color: black;
}

.display-1{
  font-weight:700;
}

.section-shadow{
  text-shadow: lightgray 1px 1px;
}

/* ======================================================= */
/* Video Header Style */
/* ======================================================= */

.video{
  position: relative;
  background-color: black;
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video .text-white{
  font-family: 'Merienda', cursive;
  text-shadow: 2px 2px 5px black;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url(../videos/main_video.mp4) black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

/* ======================================================= */
/* Strikethrough / Underline Style */
/* ======================================================= */

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
  padding-bottom: 10px;
}

.strike > span {
  position: relative;
  display: inline-block;
  font-size:1.75rem;
}
	
.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

/* ======================================================= */
/* Parallax Style */
/* ======================================================= */

.parallax { 
  /* Set a specific height */
  height: 75vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ======================================================= */
/* SVG Style */
/* ======================================================= */

svg {
  width: 100%;
  height: 10vw;
  position: absolute;
  z-index: 99;
  /* set height to pixels if you want angle to change with screen width */
}

.svg-top{
  margin-top: -10.05%;
}

.svg-blue-top{
  filter: drop-shadow(0px -5px lightblue);
}

.svg-blue-bottom{
  filter: drop-shadow(0px 5px lightblue);
}

.svg-red-top{
  filter: drop-shadow(0px -5px pink);
}

.svg-red-bottom{
  filter: drop-shadow(0px 5px pink);
}

.svg-yellow-top{
  filter: drop-shadow(0px -5px #ffff80);
}

/* ======================================================= */
/* Carousel Style */
/* ======================================================= */

.carousel-item {
  height: 75vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-text {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #FFF;
    height: 100%;
    z-index: 1;
    font-family: 'Merienda', cursive;
    text-shadow: 2px 2px 5px black;
}

/* ======================================================= */
/* Map Style */
/* ======================================================= */
#map{
  width: 100%;
  height: 50vh;
}