/* ======================================================= */
/* Additional Styles */
/* Blue: #2980b9 */
/* Red: #c0392b */
/* Yellow: #fdcb6e */
/* ======================================================= */

.hidden {display:none;}

header{
  min-height:90vh;
}

.navbar{
  position: static;
  width: 100%;
  z-index: 100;
}

#video-bg{
  width:100%;
}

.video-container {
  z-index: -100;
  width:100%;
  height:90vh;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  background: black;
}

@media screen and (max-width: 414px){
}

.navbar-dark .navbar-nav .nav-link{
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  font-size: 1.75rem;
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
  text-decoration: underline;
}

/* ============================================= */

.container-fluid{
  padding-left: 5%;
}

svg {
  width: 100%;
  height: 10vw;
  position: absolute;
  z-index: 99;
  /* set height to pixels if you want angle to change with screen width */
}

.svg-top{
  margin-top: -10.05%;
}

.parallax { 
  /* Set a specific height */
  height: 75vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}